// Tabs 1024
@media (max-width: 1024px) {
  // Header
  #header {
    &-home {
      .container {
        .header-content {
          h1 {
            font-size: 4.5rem;
          }

          p {
            line-height: 1.7;
            font-size: 1.5rem;
          }

          .btn {
            &-main {
              padding: 2rem 3rem;
              font-size: 18px;
            }
          }
        }
      }
    }
  }

  // Contact
  #contact {
    &-a {
      .container {
        .items-flex {
          .contact-info {
            .center {
              a {
                border-bottom: 1px solid $main-color;
              }
            }
          }
        }
      }
    }
  }
}

// Tabs
@media (max-width: 800px) {
  // Header
  #header {
    &-home {
      .container {
        .header-content {
          h1 {
            font-size: 4rem;
          }
          p {
            line-height: 1.7;
            font-size: 22px;
          }

          .btn {
            &-main {
              padding: 1rem 2rem;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  // Work
  // Section A: Work
  #work {
    &-a {
      .container {
        .items-grid {
          .item {
            &:after {
              content: "";
              width: 0;
              height: 0;
            }
            &:hover:after {
              opacity: 0;
            }

            &:hover img {
              transform: none;
            }

            &-icon {
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              a {
                display: block;
                opacity: 1;
                top: 0;
                left: 0;
                visibility: visible;
                width: 100%;
                height: 100%;

                i {
                  color: $main-color;
                  visibility: hidden;
                }
              }

              a:hover i {
                transform: none;
              }
            }
          }
        }
      }
    }
  }
  // Contact
  #contact {
    &-a {
      .container {
        .items-flex {
          .contact-info {
            .center {
              padding: 2rem;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

// Smartphones
@media (max-width: 500px) {
  .section-title {
    font-size: 40px;
  }
  // NavBar
  #navbar {
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0.5rem;

      .social {
        a {
          margin-right: 2rem;

          &:last-child {
            margin-right: 0;
          }
        }

        a:active {
          color: $main-color;
        }
      }

      ul {
        li {
          padding: 0 1rem;
          font-size: 16px;
        }
      }
    }
  }

  // Header
  #header {
    &-home {
      .container {
        .header-content {
          h1 {
            font-size: 2rem;
            padding: 2rem 0 1rem 0;
          }

          p {
            padding: 0;
            letter-spacing: 0.8px;
            margin-bottom: 2rem;
            font-size: 16px;
          }
        }
      }
    }
  }

  // Work
  // Section A: Work
  #work {
    &-a {
      .container {
        .items-grid {
          grid-template-columns: repeat(1, 1fr);
          .item {
            &:after {
              content: "";
              width: 0;
              height: 0;
            }

            &:hover img {
              transform: none;
            }

            &-icon {
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              a {
                display: block;
                opacity: 1;
                top: 0;
                left: 0;
                visibility: visible;
                width: 100%;
                height: 100%;

                i {
                  color: $main-color;
                  visibility: hidden;
                }
              }

              a:hover i {
                transform: none;
              }
            }
          }
        }
      }
    }
  }

  // Contact
  // Section A: Contact
  #contact {
    &-a {
      .container {
        .items-flex {
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .card {
            width: 100%;
          }

          .contact-info {
            width: 100%;
            margin-top: 10%;

            .center {
              padding: 2rem;

              a {
                border-bottom: 1px solid $main-color;
              }
            }
          }
        }
      }
    }
  }
}

// Smaller smartphones
@media (max-width: 372px) {
  // Header
  #header {
    &-home {
      .container {
        .header-content {
          h1 {
            padding-top: 40%;
          }
        }
      }
    }
  }
  // Contact
  #contact {
    &-a {
      .container {
        .items-flex {
          .contact-info {
            .center {
              padding: 1.6rem;

              p {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}

// IPhone 5s
@media (max-width: 322px) {
  // NavBar
  .main-nav {
    .container {
      ul {
        li {
          padding: 0 0.6rem;
          font-size: 18px;
        }
      }
    }
  }
  // Header
  #header {
    &-home {
      .container {
        .header-content {
          h1 {
            font-size: 1.9rem;
          }

          p {
            line-height: 1.5;
          }
        }
      }
    }
  }

  // Contact
  #contact {
    &-a {
      .container {
        .items-flex {
          .contact-info {
            .center {
              padding: 1.29rem;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

// Landscape
// Normal
@media (max-height: 500px) {
  .section-title {
    font-size: 40px;
  }
  // NavBar
  .main-nav {
    .container {
      .social {
        padding: 0.4rem 0;
        a:active {
          color: $main-color;
        }
      }
      ul {
        li {
          padding: 0 0.6rem;
          font-size: 14px;
        }
      }
    }
  }
  // Header
  #header {
    &-home {
      .container {
        .header-content {
          padding-top: 6%;
          h1 {
            font-size: 2rem;
          }
          p {
            line-height: 1.7;
            font-size: 15px;
          }

          .btn {
            &-main {
              padding: 0.5rem 1rem;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
  // Work
  // Section A: Work
  #work {
    &-a {
      .container {
        .items-grid {
          grid-template-columns: repeat(2, 1fr);
          .item {
            &:after {
              content: "";
              width: 0;
              height: 0;
            }

            &:hover img {
              transform: none;
            }

            &-icon {
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              a {
                display: block;
                opacity: 1;
                top: 0;
                left: 0;
                visibility: visible;
                width: 100%;
                height: 100%;

                i {
                  color: $main-color;
                  visibility: hidden;
                }
              }

              a:hover i {
                transform: none;
              }
            }
          }
        }
      }
    }
  }
  // Contact
  #contact {
    &-a {
      .container {
        .items-flex {
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .card {
            width: 90%;
          }

          .contact-info {
            width: 100%;
            margin-top: 10%;

            .center {
              padding: 2.5rem;
              font-size: 16px;
              justify-content: center;
              align-items: center;
              width: 90%;
            }
          }
        }
      }
    }
  }

  // Footer
  #footer {
    &-main {
      .container {
        padding: 0.7rem;
        p {
          padding: 0.2rem;
          font-size: 14px;
        }
      }
    }
  }
}

// Smaller
@media (max-height: 360px) {
  // Contact
  #contact {
    &-a {
      .container {
        .items-flex {
          .contact-info {
            .center {
              padding: 1rem;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

// 5s
@media (max-height: 322px) {
  // Header
  #header {
    &-home {
      .container {
        .header-content {
          padding-top: 6%;
          h1 {
            font-size: 2rem;
          }
          p {
            line-height: 1.7;
            font-size: 12px;
            padding: 1rem;
          }
          .btn {
            &-main {
              padding: 0.5rem 1rem;
              font-size: 10px;
            }
          }
        }
      }
    }
  }

  // Work
  // Section A: Work
  #work {
    &-a {
      .container {
        .items-grid {
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
  }
  // Contact
  #contact {
    &-a {
      .container {
        .items-flex {
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .card {
            width: 100%;
          }
          .contact-info {
            width: 100%;
            margin-top: 10%;
            .center {
              padding: 2rem;
              a {
                border-bottom: 1px solid $main-color;
              }
            }
          }
        }
      }
    }
  }
}
