@import "config";
@import "utilities";
@import "media";

// General Styles
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  color: $light-color;
  background: $dark-color;
}

// Scrolbar
::-webkit-scrollbar {
  width: 10px;

  &-thumb {
    background: #383838;
    border-radius: 10px;

    &:hover {
      background: $secondary-color;
      cursor: pointer;
    }
  }
}

a {
  text-decoration: none;
  color: $light-color;
}

ul {
  list-style: none;
}

img {
  width: 101%;
}

// Main Nav
.main-nav {
  transition: all 700ms;
  width: 100%;
  position: fixed;
  z-index: 2;

  .container {
    padding: 0.8rem;
    display: flex;
    justify-content: space-between;

    .social {
      a {
        margin-right: 1rem;
        transition: color 0.3s;
      }

      a:last-child {
        margin-right: none;
      }

      a:hover {
        color: $main-color;
      }
    }

    ul {
      display: flex;
      align-items: center;

      li {
        padding: 0 1.5rem;
        font-size: 16px;
        text-transform: uppercase;

        &:last-child {
          padding: 0 0 0 1.5rem;
        }

        a {
          text-decoration: none;
          padding-bottom: 2px;
          background-image: linear-gradient($main-color, $secondary-color);
          background-position: 100% 100%;
          background-repeat: no-repeat;
          background-size: 0% 2px;
          transition: background-size 0.3s;

          &:hover {
            background-size: 100% 2px;
            background-position: 0% 100%;
          }
        }
      }
    }
  }
}

// JS class Navbar
.navbar {
  background: $dark-color;
  width: 100%;
  position: fixed;
  box-shadow: -1px -2px 30px 0px rgba(0, 0, 0, 0.75);
  transition: all 700ms;
}

// Header
#header {
  // Header Home
  &-home {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url("../img/showcase_test_4.jpg") no-repeat 30% 30% / cover;

    .header-content {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h1 {
        font-size: 4rem;
        line-height: 1.2;

        span {
          color: $main-color;
        }
      }

      p {
        font-size: 20px;
        line-height: 1.7;
        padding: 1rem 5rem 2rem 5rem;
      }
    }
  }

  &-home:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
  }
}

// Skills
// Section A: Stats
#skills {
  &-a {
    background: $dark-color;
    position: relative;
    top: 100vh;
    box-shadow: 1px -2px 30px 0px rgba(0, 0, 0, 0.75);

    // Progress bar
    .progress {
      background-color: #1a1a1a;
      height: 33px;
      padding: 4px;
      width: 100%;
      margin: 1rem 0;
      border-radius: 5px;
      box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;

      span {
        display: inline-block;
        height: 25px;
        width: 200px;
        border-radius: 3px;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
        transition: width 0.4s ease-in-out;
        // background-color: #34c2e3;
        background-color: #1592ad;

        background-size: 30px 30px;
        background-image: linear-gradient(
          135deg,
          rgba(255, 255, 255, 0.15) 25%,
          transparent 25%,
          transparent 50%,
          rgba(255, 255, 255, 0.15) 50%,
          rgba(255, 255, 255, 0.15) 75%,
          transparent 75%,
          transparent
        );
        animation: animate-stripes 3s linear infinite;
      }
    }

    // Animate progress bar
    @keyframes animate-stripes {
      0% {
        background-position: 0 0;
      }
      100% {
        background-position: 60px 0;
      }
    }
  }
}

// Work
// Section A: Work

#work {
  &-a {
    position: relative;
    top: 100vh;
    background: $dark-color;

    .items-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;

      .item {
        background: #0082b6;
        overflow: hidden;
        box-shadow: -1px 1px 12px 4px rgba(0, 0, 0, 0.75);

        &:hover img {
          transform: scale(1.2);
          opacity: 0.5;
        }
        &:hover p {
          font-size: 2rem;
          border: 6px solid $light-color;
          background: #fdfdfd31;
        }

        &-img {
          height: 100%;

          a {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;

            p {
              position: absolute;
              padding: 5px 10px;
              font-size: 0;
              color: $light-color;
              border: 0 solid $light-color;
              border-radius: 5px;
              transition: background 0.5s, font-size 0.5s, border 0.5s;
              z-index: 1;
            }

            img {
              height: 100%;
              transition: transform 0.5s, opacity 0.5s ease;
            }
          }
        }
      }
    }
  }
}

// Contact
// Section A: Contact
#contact {
  &-a {
    padding-bottom: 5rem;
    position: relative;
    top: 100vh;
    background: $dark-color;

    .items-flex {
      display: flex;
      justify-content: space-between;

      .card {
        width: 50%;
        color: $light-color;

        #form-main {
          .text-fields {
            display: flex;
            flex-direction: column;

            .text-input {
              border: none;
              border: rgba(0, 0, 0, 0) 1px solid;
              box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
              background: #1a1a1a;
              color: $secondary-color;
              font-weight: bold;
              padding: 1rem;
              margin-bottom: 1rem;
              border-radius: 5px;
              outline: none;
              font-size: 16px;
              font-family: "Roboto", sans-serif;
              transition: all 0.3s;

              &:hover {
                border: $secondary-color 1px solid;
              }
              &:focus {
                border: $secondary-color 1px solid;
              }
            }

            .required:after {
              content: "*";
              color: red;
            }

            .message-input {
              height: 12rem;
              font-size: 17px;
              resize: none;
              font-family: "Roboto", sans-serif;
            }
          }
        }
      }

      .contact-info {
        display: flex;
        justify-content: center;
        align-items: center;

        .center {
          display: flex;
          flex-direction: column;
          line-height: 4;
          font-size: 18px;
          padding: 3rem;
          border: 3px solid $secondary-color;

          p {
            a {
              color: $main-color;
            }
            a:hover {
              color: $secondary-color;
            }
          }
        }
      }
    }
  }
}

// Footer
#footer {
  &-main {
    position: relative;
    top: 100vh;
    background: $dark-color;
    box-shadow: -1px 13px 30px 0px rgba(0, 0, 0, 0.75);
    text-align: center;

    p {
      padding: 0.5rem;
    }
  }
}
